.App {
  text-align: center;
  background-attachment: fixed;
  height: 100%;
  overflow: auto;
}
.App.light{
    background: #F8F8F9;
    color:#161617;
}
.App.dark{
    background: #161617;
    color:white
}